body {
    margin: 0;
    padding: 0;
    border: 0;
}

#kontajner {
    margin: 0;
    padding: 0;
    border: 0;
}

#head {
    margin: 0;
    padding: 0;
    border: 0;
}

#navigacia {
    margin: 0;
    padding: 0;
    border: 0;
}

#content {
    margin: 0;
    padding: 0;
    border: 0;
}

#footer {
    margin: 0;
    padding: 0;
    border: 0;
}